@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #D9AF7D;

@import "~bulma";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1 0 auto;
}
